<!DOCTYPE html>
<html class="h-full bg-gray-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body class="h-full">
        {% set route = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        <div class="min-h-full">
            {% if is_granted("ROLE_USER") %}<div {{ vue_component('Navbar', {route: route, user: app.user.toArray()}) }}></div>{% endif %}
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
