{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
	<div {{ vue_component('Dashboard', {data: {totalSurveys, latestSurvey, totalAnswers, latestAnswers}}) }}></div>
{% endblock %}
